<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azuredfwassapplicationcreation.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/84bb83ff-6de9-401b-a24b-f7ff7901f795/resourcegroups/Automation/providers/Microsoft.Web/sites/azuredFwassApplicationCreation</ResourceId>
    <UserName>$azuredFwassApplicationCreation</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://azuredfwassapplicationcreation.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>